body{
    background:url("../images/bg-img.png");
}

/*页面顶部部分样式*/
.head-box{
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #017E5C;
    position: fixed;
    top: 0px;
    left: 0px;

}
.head-box a{
    color: #FFFFFF;
}
.head-box i{
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 13px;
}
.more-title{
    flex-grow: 1;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
}

#zhanwei-div{
    width: 100%;
    height: 50px;
}


/*主体部分样式*/
.tuijian-list{
    padding: 10px;
}
.tuijian-item{
    width: 100%;
    margin-bottom: 15px;

}
.tuijian-item-top{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
}
.tuijian-img{
    width: 90px;
    height: 80px;
}
.tuijian-img img{
    width: 70px;
    height: 70px;
    margin: 5px 15px 5px 5px;
}
.tuijian-content{
    flex-grow: 1;
    height: 80px;
}
.shangjia-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.shangjia-title a{
    color: #000000;
}
.shangjia-jiage{
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
}
.tuijian-xingji{
    width: 100px;
    height: 25px;
}
.tuijian-xingji>i{
    font-size: 16px;
    color: #EEEEEE;
}
.tuijian-xingji>.xingji-red{
    color: #FF0000;
}
.tuijian-icon{
    width: 30px;
    height: 80px;
}
.tuijian-icon>span{
    width: 15px;
    height: 15px;
    display: block;
    background-color: #017E5C;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 5px;
    left: 5px;
}
.tuijian-item-bottom{
    width: 100%;
    height: 30px;
    background-color: #EEEEEE;
    line-height: 30px;
    font-size: 16px;
    color: #A6A6A6;
}


